body {
    background-image: url('../static/img/espacio.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: yellow;
    text-align: center;
}

form {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

input[type="submit"] {
    background: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
