<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meditación guiada - Inicio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="{{ url_for('static', filename='js/nombre.js') }}"></script>
    </head>
    <body>
        <div class="encabezado">
            <header>
                <h1>Meditación guiada - Inicio</h1>
            </header>
        </div>
        <div class="nombre">
            <form id="nameForm" method="post">
                <label for="name">Ingrese su nombre</label><br>
                <input type="text" id="name" name="name"><br>
                <input type="submit" value="Enviar">
            </form>
            <div class="error" id="error"></div>
            <div class="regex" id="regex"></div>
        </div>
    </body>
</html>