<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Escena Playa</title>
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    </head>
    <body>
        <a-scene>
            <a-sky src="../static/img/360photoconverter.jpg"></a-sky>
        </a-scene>
    </body>
</html>

<!-- incluir que no se pueda mover la camara y no se pueda mover el curso y que sea una foto 180, incluir un boton para regresar atras, audios de la meditacion y del mar -->